.catalogue {
  position: relative;
}

.menuHamburger {
  margin-left: 16px;
}

.catalogueMenu {
  position: absolute;
  background: #ffffff;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  top: calc(100% + 8px);
  left: 0;
  width: 296px;

  border-radius: 32px;
  box-shadow: 0 8px 20px hsl(40deg 3% 45% / 20%);
  padding: 24px 20px 20px;
  max-height: calc(100vh - 104px);
    overflow: auto;
}

.catalogueTitle {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  padding: 16px 0 17px;
}

.baseLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  height: 50px;
}
.baseLinkImg {
  height: 48px;
  margin-right: 4px;
  padding: 4px;
  width: 48px;
}
.baseLinkTitle {
  display: flex;
  align-items: center;
}
.sublinks {
  padding-left: 52px;
  padding-bottom: 16px;
}
.sublinks li {
  cursor: pointer;
}
.sublinks li span:hover {
  color: #9e9b98;
}
.sublinks li span {
  padding: 9px 0 10px;
  font-weight: 500;
  display: block;
}

@media only screen and (max-width:376px) {
  .catalogueMenu {
    right: -123px;
    left: unset;
  }
}