.footer {
  background: #f2f1ef;
  color: #9e9b98;
  padding: 0 24px;
  margin-top: 25px;
}

.top {
  align-items: center;
  border-bottom: 1px solid #dedcd9;
  min-height: 108px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 32px 0;
}
.content ul {
  width: 320px;
}
.content ul span {
  color: #9e9b98;
}
.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid #dedcd9;
  min-height: 72px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 29px;
}

.infoAboutDelivery {
  line-height: 17px;
  margin: 32px 0 29px;
  text-align: left;
  font-size: 13px;
  color: #9e9b98;
}

.socials {
  display: flex;
  padding-left: 200px;
  padding-right: 6px;
}

.links {
  white-space: nowrap;
  line-height: 14px;
  font-size: 13px;
  color: #9e9b98;
}