@font-face {
  font-family: OpenSans;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: 'normal';
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Medium.ttf');
  font-weight: 500;
  font-style: 'normal';
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: 'normal';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans';
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  color: #21201f;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: 'OpenSans';
}

h4.heading {
  line-height: 31px;
  font-size: 28px;
  font-weight: 700;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}

.topBar {
  grid-area: title;
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 0;
}
.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #9e9b98;
  margin-bottom: 8px;
}
.breadcrumbs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #9e9b98;
}
.breadcrumbs a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #9e9b98;
}
.breadcrumbs a svg {
  margin-right: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-block {
  width: 100%;
}
.form .input-box {
  position: relative;
  width: 100%;
}
.form-block label {
  margin-bottom: 5px;
  display: block;
}
.prefix {
	position: absolute;
  top: 14px;
  left: 10px;
  color: #6a6a6a;
}
.form .input-box input {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 5px 13px;
  height: 48px;
  border-radius: 16px;
  background: #efeeed;
  font-size: 16px;
  outline: none;
}
.form .input-box-pefix input {
  padding-left: 50px;
}
.form button {
  margin-top: 10px;
}


