.wrapper {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 15px;
    max-width: 560px;
    width: 100%;
}

.order:first-child {
    margin-top: 0;
}
.order {
    margin-top: 16px;
}