.product {
    border-radius: 24px;
    display: flex;
    height: 100%;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

.container {
    background-color: #f8f7f5;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.container:hover {
    background-color: #f1f0ed;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.priceTitle {
    flex: 1 0;
    box-sizing: border-box;
    min-height: 99px;
    padding: 0 12px 16px;
}

.compareAtPrice {
    color: #fc5230;
    font-size: 20px;
    margin-right: 5px;
    font-weight: 500;
}
.price {
    font-size: 20px;
    font-weight: 500;
}
.oldPrice {
    color: #9e9b98;
}
.line {
    transform: rotate(-5.02338deg);
    background-color: #fc5230;

    height: 1px;
    left: 0;
    margin-left: -1px;
    position: absolute;
    width: calc(100% + 2px);
}
.oldPriceWithLine {
    position: relative;
    line-height: 0;
    display: inline-block;
}

.priceBlock {
    margin-bottom: 4px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.buyBtn {
    padding: 0 8px 8px;
    box-shadow: 0 3px 4px rgba(0,0,0,.06);
    transition-duration: .15s;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    border-radius: 16px;
    background-color: #fff;
    width: 100%;
}

.buyBtn:hover {
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 12%);
}

.buyBtn button {
    width: 100%;
    height: 48px;
    min-width: 48px;
    background-color: transparent;
    color: #21201f;
    appearance: none;
    background: transparent;
    border: none;
    font-size: 16px;

    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: 0;
    position: relative;
    transition-property: background-color,opacity,box-shadow;
    transition-timing-function: ease-in-out;

    cursor: pointer;
}

.weightInfo {
    margin-top: 4px;
    color: #9e9b98;
    display: block;
}

.wrapperImg {
    height: 0;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.postionImage {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.image {
    height: 100%;
    width: 100%;
}