.wrapper {
  grid-template: "menu main" auto/minmax(316px,auto) minmax(880px,auto);
  display: grid;
  justify-content: center;
}

.main {
  grid-area: main;
  padding-top: 46px;
}

.headingSearch {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 24px;
  word-break: break-word;
  font-weight: 700;
}

@media only screen and (max-width: 980px) {
  .wrapper {
    grid-template: "menu" "main";
  }
  .main {
    padding-top: 0;
  }
}