.container {
    display: grid;
    grid-template: "products wrapper" auto/minmax(560px,auto) minmax(370px,auto);
    margin: 0 15px;
}

.containerEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerEmpty h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 19px 0 22px;
}
.containerEmpty p {
    margin-bottom: 64px;
}
.containerEmpty button {
    min-width: 280px;
}

.products {
    grid-area: products;
}
.wrapper {
    grid-area: wrapper;
    margin-left: 72px;
    display: flex;
    flex-direction: column;
}

.subheading {
    font-size: 28px;
    font-weight: 700;
}
.deliveryInfo {
    font-size: 16px;
    color: #9e9b98;
}

.top {
    border-bottom: 1px solid #e8e7e6;
    color: #21201f;
    margin-bottom: 8px;
    padding: 0 0 22px;
}

.btnClearCart svg {
    margin-right: 8px;
}

.wrapper table {
    width: 100%;
}
.wrapper table th {
    font-weight: 400;
    text-align: left;
}
.wrapper table td {
    text-align: right;
    font-weight: 500;
}
.wrapper table tr {
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    align-items: center;
    padding: 8px 0;
}
.wrapper table tr:last-child {
    border-top: 1px solid hsla(30,3%,53%,.2);
    height: 52px;
    margin-top: 8px;
    padding: 0;
}

.wrapper table tr:last-child th, .wrapper table tr:last-child td {
    font-weight: 500;
    font-size: 20px;
}

.totals {
    margin-bottom: 8px;
}

.totalDiscounts {
    color: #fc5230;
}

@media only screen and (max-width: 980px) {
    .container {
      grid-template: "wrapper" "products";
    }
    .wrapper {
        margin-left: 0;
    }
    .products {
        margin-top: 15px;
    }
    .btnClearCart {
        margin-top: 10px;
    }
  }