.wrapper {
  grid-template: "menu main" auto/minmax(316px,auto) minmax(880px,auto);
  display: grid;
  margin: 0 15px;
}

.main {
  grid-area: main;
}

.section:not(:first-child) {
  margin-top: 40px;
}

.section h2.sectionTitle {
  font-weight: 700;
  font-size: 28px;
  padding: 19px 0 22px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template: "menu" "main" auto/minmax(880px,auto);
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    grid-template: "menu" "main" auto/fit-content(658px);
    justify-content: center;
  }
}

@media only screen and (max-width: 426px) {
  .wrapper {
    grid-template: "menu" "main" auto/fit-content(400px);
    justify-content: center;
  }
}

@media only screen and (max-width: 376px) {
  .wrapper {
    grid-template: "menu" "main" auto/fit-content(350px);
    justify-content: center;
  }
}