.wrapper {
  grid-template: "menu main" auto/minmax(316px,auto) minmax(880px,auto);
  display: grid;
  justify-content: center;
}

.main {
  grid-area: main;
  justify-content: center;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f7f5;
  border-radius: 24px;
  margin: 24px 0;
}
.alert:hover {
  background-color: #eeedea;
}
.icon {
  padding: 8px;
}
.text {
  min-height: 56px;
  padding: 12px 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template: "menu" "main" auto/minmax(880px,auto);
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template: "menu" "main" auto/minmax(658px,auto);
    justify-content: center;
  }
}

@media only screen and (max-width: 673px) {
  .wrapper {
    grid-template: "menu" "main" auto/minmax(442px,auto);
    justify-content: center;
  }
}
@media only screen and (max-width: 484px) {
  .wrapper {
    grid-template: "menu" "main" auto/fit-content(370px);
    justify-content: center;
  }
}