.wrapper {
  grid-template: "menu main" auto/minmax(316px,auto) minmax(880px,auto);
  display: grid;
}

.main {
  grid-area: main;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8f7f5;
  border-radius: 24px;
  margin: 24px 0;
}
.alert:hover {
  background-color: #eeedea;
}
.icon {
  padding: 8px;
}
.text {
  min-height: 56px;
  padding: 12px 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

@media only screen and (max-width: 1196px) {
  .wrapper {
    grid-template: "" "main";
  }
}

@media only screen and (max-width: 980px) {
  .wrapper {
    grid-template: "menu" "main";
  }
}