.header {
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.searchMob, .addressMob {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .search {
    display: none;
  }
  .searchMob {
    display: block;
    margin: 15px;
  }
  .searchMob input {
    min-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .address {
    display: none;
  }
  .addressMob {
    margin: 15px;
    display: block;
  }
}