.header {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
}

.cart {
  display: inline-block;
  margin-right: 7px;
}

.globe {
  display: inline-block;
  margin-right: 7px;
}

.auth {
  display: inline-block;
}

.search input {
  display: block;
  max-width: 320px;
  min-width: 320px;
  border: 1px solid transparent;
  padding: 5px 13px;
  height: 48px;
  border-radius: 16px;
  background: #efeeed;
  font-size: 16px;
  outline: none;
}
.search input:focus {
  border-color: #d2d0cc;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.langs {
  margin-right: 10px;
}

.account {
  position: relative;
}

.accountMenu {
  position: absolute;
  background: #ffffff;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  right: 0;
  width: 160px;

  border-radius: 32px;
  box-shadow: 0 8px 20px hsl(40deg 3% 45% / 20%);
  padding-bottom: 24px;
  padding-top: 24px;
}

.accountMenu ul {
  list-style: none;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.cartButton svg {
  margin-right: 9px;
}

.searchMob {
  display: none;
}

@media only screen and (max-width: 980px) {
  .search {
    display: none;
  }
  .searchMob {
    display: block;
    margin: 15px;
  }  
  .searchMob input {
    min-width: 100%;
  }  
}